.club-details-tab {
    padding: 20px;
  }
  
  .club-details {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .club-details p {
    margin: 10px 0;
  }
  
  .club-details strong {
    color: #333;
  }
  
  .club-deteal-tag{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }