.comments {
    margin-top: 5px;
    padding: 10px;
  }

.comments-title{
    padding-bottom: 10px;
  }
.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #000000;
  }
.coment-content{
    font-size: 12px;
}