
  .rightbar {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rightbar__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rightbar__item {
    display: block;
    color: #1DA1F2;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .rightbar__item:hover {
    text-decoration: underline;
  }
  
  
